server {
        listen {{ listen_port | default('80') }};
        listen [::]:{{ listen_port | default('80') }};
     
          server_name {{ server_name }};
         

        root {{ root_pathfor_servername }};
        index {{ indexhtml_path }};

      

        location / {
                try_files $uri $uri/ =404;
        }
}
